
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f8f9fa;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f8f9fa;
}
.form-header {
    text-align: center;
    padding-bottom: 20px;    
}

.logo img {
    margin-top: 20px;
    width: 18%;
    height: 10%;
}
.form-header h1 {
    font-size: 24px;
    margin: 10px 0;
}

.form-header p {
    color: #6c757d;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
}
.input-group-text{
    background-color: #dcdfe0;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}


.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
ul {
    list-style-type: disc;
}
li {
    text-align: -webkit-match-parent;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
    margin-top: 0;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    cursor: default;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.w-100 {
    width: 100% !important;
}
.d-block {
    display: block !important;
}
footer{
    font-size: 14px;
    color: #777;
}
footer p{
    margin-top: 30px;
}
footer a{
    color: #007bff;
    text-decoration: none;
    margin:0 5px;
}
footer a:hover{
    text-decoration: underline;
}
h6{
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 0;
    
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}




